In [1]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

Análise Exploratória

In [2]:
ratings.shape

(100836, 4)

In [3]:
ratings.columns = ["UsuárioID", "FilmeID", "Notas", "Momento"]
ratings

        UsuárioID  FilmeID  Notas     Momento
0               1        1    4.0   964982703
1               1        3    4.0   964981247
2               1        6    4.0   964982224
3               1       47    5.0   964983815
4               1       50    5.0   964982931
...           ...      ...    ...         ...
100831        610   166534    4.0  1493848402
100832        610   168248    5.0  1493850091
100833        610   168250    5.0  1494273047
100834        610   168252    5.0  1493846352
100835        610   170875    3.0  1493846415

[100836 rows x 4 columns]

In [5]:
ratings['Notas'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [8]:
ratings['Notas'].value_counts()

4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: Notas, dtype: int64