In [1]:
import pandas as pd

## Series

In [2]:
data = ['T', 'C', 'A', 'G']
serie = pd.Series(data)
serie

0    T
1    C
2    A
3    G
dtype: object

In [7]:
frame = pd.DataFrame(serie)
frame.columns = ['Bases']
frame.index += 1
frame

  Bases
1     T
2     C
3     A
4     G

In [9]:
data2 = [1, 2, 3, 4, 5]
serie2 = pd.Series(data2)
index = ['linha' + str(i) for i in range(0, 5)]
serie2 = pd.Series(data2, index = index)
serie2

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [10]:
data = {'linha' + str(i): i + 1 for i in range(5)}
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [11]:
serie = pd.Series(data)
serie

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [12]:
serie3 = serie + serie2
serie3

linha0     2
linha1     4
linha2     6
linha3     8
linha4    10
dtype: int64

## DataFrames

In [36]:
from random import choice



class Animal:
    
    def __init__(index, animal, genes):
        self.index = ['linha' + str(i) for i in range(len(animal))]
        self.animal = animal
        self.genes = genes

        
    def create_gen(genes, animal, n,):

        for l in animal:
            for c in range(n):
                l.append(choice(genes))

        return animal


animal1 = create_gen(genes=['A', 'B', 'C'], animal = [[], [], []], n=4)
animal2 = create_gen(genes=['A', 'T', 'C', 'G'], animal = [[], [], []], n=4)

frame1 = pd.DataFrame(animal1, index = index)
frame1

SyntaxError: invalid syntax (Temp/ipykernel_5804/3011053200.py, line 7)