In [1]:
import pandas as pd

## Series

In [2]:
data = ['T', 'C', 'A', 'G']
serie = pd.Series(data)
serie

0    T
1    C
2    A
3    G
dtype: object

In [7]:
frame = pd.DataFrame(serie)
frame.columns = ['Bases']
frame.index += 1
frame

  Bases
1     T
2     C
3     A
4     G

In [9]:
data2 = [1, 2, 3, 4, 5]
serie2 = pd.Series(data2)
index = ['linha' + str(i) for i in range(0, 5)]
serie2 = pd.Series(data2, index = index)
serie2

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [10]:
data = {'linha' + str(i): i + 1 for i in range(5)}
data

{'linha0': 1, 'linha1': 2, 'linha2': 3, 'linha3': 4, 'linha4': 5}

In [11]:
serie = pd.Series(data)
serie

linha0    1
linha1    2
linha2    3
linha3    4
linha4    5
dtype: int64

In [12]:
serie3 = serie + serie2
serie3

linha0     2
linha1     4
linha2     6
linha3     8
linha4    10
dtype: int64

## DataFrames

In [93]:
from random import choice



def create_gen(structure, gens, n):
    for l in structure:
        for c in range(n):
            l.append(choice(gens))
    
    frame = pd.DataFrame(structure, index = ['L' + str(i+1) for i in range(len(structure))], 
                         columns = ['C' + str(i+1) for i in range(len(structure[0]))])
    return frame

animal1 = create_gen([[], [], []], ['A', 'B', 'C'], 3)
animal2 = create_gen([[], [], []], ['A', 'C', 'C'], 3)
animal3 = create_gen([[] for  c in range(20)], ['A', 'C', 'T', 'G'], 20)GDTFRDVF

In [94]:
animal2

   C1 C2 C3
L1  C  C  C
L2  C  C  C
L3  C  A  C

In [95]:
animal3

    C1 C2 C3 C4 C5 C6 C7 C8 C9 C10 C11 C12 C13 C14 C15 C16 C17 C18 C19 C20
L1   A  G  C  A  T  T  T  C  A   A   G   G   A   C   G   T   A   C   A   T
L2   C  A  G  G  C  C  T  C  C   A   C   A   G   G   G   T   G   T   T   G
L3   G  A  C  A  G  T  T  C  T   G   C   G   C   C   C   G   A   T   T   A
L4   T  G  G  G  G  A  T  T  G   C   T   A   C   C   T   T   C   C   A   A
L5   T  T  T  A  G  C  A  A  T   G   A   C   G   C   C   G   A   A   G   G
L6   G  C  A  C  T  A  A  G  C   T   C   A   A   C   A   G   C   G   G   A
L7   G  A  T  A  C  C  T  A  T   C   T   G   G   T   T   A   A   T   C   G
L8   A  G  A  T  C  C  T  T  G   A   A   C   C   G   C   C   C   G   C   C
L9   A  G  A  T  T  G  G  T  A   T   A   A   A   A   C   C   G   C   C   A
L10  G  C  C  C  A  T  T  A  G   C   T   A   T   G   A   G   C   C   A   T
L11  A  C  G  C  G  A  A  T  C   T   C   A   C   T   C   G   A   G   A   T
L12  T  C  G  T  A  T  C  C  C   G   T   G   C   A   C   A   T   C   T   A
L13  G  A  C  T  G  T  C  G  C   A   G   G   A   A   A   A   T   A   G   C
L14  C  T  C  C  T  T  G  G  A   T   A   A   C   T   C   T   C   A   C   T
L15  C  A  G  A  G  T  T  G  C   C   A   C   C   T   G   C   G   T   C   A
L16  T  T  C  T  C  A  C  A  A   A   G   A   A   A   G   G   T   G   G   T
L17  A  G  G  C  G  A  C  G  T   G   G   G   A   C   T   G   A   C   T   C
L18  T  C  G  C  C  T  G  A  C   T   T   A   C   G   C   C   A   C   G   T
L19  G  A  G  A  T  A  C  T  G   A   G   G   C   T   C   A   T   T   G   T
L20  A  T  T  T  T  T  A  A  G   C   A   G   T   A   C   C   G   C   G   C

In [96]:
animal1

   C1 C2 C3
L1  B  A  B
L2  B  A  B
L3  C  A  A

In [97]:
DF4 = pd.concat([animal1, animal2])
DF4

   C1 C2 C3
L1  B  A  B
L2  B  A  B
L3  C  A  A
L1  C  C  C
L2  C  C  C
L3  C  A  C